<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dragviewdemo"
    android:versionCode="1"
    android:versionName="1.0" android:installLocation="internalOnly">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> 
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@android:style/Theme"
        android:enabled="true"
        android:process=".app"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecycleActivity" android:screenOrientation="portrait">
            
        </activity>
        <activity android:name=".MenuActivity" android:screenOrientation="portrait">
            
        </activity>
        <activity android:name=".TransparentActivity" 
           android:theme="@android:style/Theme.NoDisplay"
			android:enabled="true"
			android:allowTaskReparenting="true"
			android:noHistory="true"
			android:excludeFromRecents="true"
			android:alwaysRetainTaskState="false"
			android:stateNotNeeded="true"
			android:clearTaskOnLaunch="true"
			android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:multiprocess="true"
            android:process=":trans"
            android:screenOrientation="portrait">
            
        </activity>
        <service 
            android:name="com.example.dragviewdemo.NotificationService"
            android:process=".core"
            android:enabled="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW"
            android:exported="true"
            ></service>
        <service 
            android:name="com.example.dragviewdemo.ServiceDemon"
            android:process=".coredeamon"
            android:enabled="true"
            android:permission="android.permission.RESTART_PACKAGES"
            android:exported="true"
            ></service>
        <receiver android:name="com.example.dragviewdemo.NotificationService$BroadCastDemo"
            android:permission="android.permission.RESTART_PACKAGES"
            android:enabled="true"
            android:exported="true"
            android:process=".core2"
            >
            <intent-filter 
                >
                <action android:name="ACTION_HEARTBEAT"/>
                <action android:name="android.intent.action.TIME_TICK"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                
            </intent-filter>
            
        </receiver>
        
    </application>

</manifest>
